.App {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "header  header  header" "sidebar content content";
    grid-template-columns: 200px calc(50% - 200px);
    width: 100%;
}
.App__sidebar {
  border-right: solid 1px orange;
  grid-area: sidebar;
}
.App__content {
  grid-area: content;
  text-align: center;
}
.App__logo {
    height: 4rem;
    vertical-align: middle;
}
.App__header {
    font-size: 3rem;
    grid-area: header;
    text-align: center;
}
.App__videolink {
    cursor: pointer;
    text-decoration: underline;
}
.App__videolink--selected {
    background: orange;
    color: black;
}
